.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.nav-mobile-menu {
  margin-bottom: auto;
}
.close-mobile-menu-icon {
  display: block;
  margin: 0 auto;
}
.nav-mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.nav-link-mobile-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-mobile-menu:hover,
.nav-link-mobile-menu:focus {
  color: #404bbf;
}
.contacts-mobile-menu {
  margin-bottom: 48px;
}
.contacts-list-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contacts-link-mobile-menu {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link-mobile-menu:hover,
.contacts-link-mobile-menu:focus {
  color: #4d5ae5;
}
.social-list-mobile-menu {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-link-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
}
.hero-container {
  display: block;
  text-align: center;
}
.section-main-hero {
  background-color: #2e2f42;
  padding: 72px 0 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mobile1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  min-height: 432px;
  margin: auto;
}
@media screen and (min-resolution: 192dpi) {
  .section-main-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mobile2x.jpg);
  }
}
.tittle-hero {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
  max-width: 216px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.button-hero {
  display: block;
  border: none;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  min-width: 169px;
  height: 56px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .section-main-hero {
    max-width: 768px;
    min-height: 436px;
    padding: 112px 0 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet1x.jpg);
  }
  .tittle-hero {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-main-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tablet2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .section-main-hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-desktop1x.jpg);
  }
  .tittle-hero {
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-main-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-desktop2x.jpg);
  }
}
.icon-advantages {
  display: none;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.advantages-item {
  max-width: 356px;
}
.subtitle-advantages {
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.advatades-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    column-gap: 24px;
  }
  .subtitle-advantages {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .advantages-list {
    gap: 24px;
  }
  .advatades-text {
    font-weight: 400;
  }
  .icon-advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    text-align: center;
    padding: 24px 100px;
    margin-bottom: 8px;
  }
  .advantages-item {
    max-width: 264px;
    width: calc((100%-72px) / 4);
  }
  .subtitle-advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.section-main-teamcard {
  background-color: #f4f4fd;
}
.title-teamcard {
  display: block;
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.teamcard-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
}
.teamcard-item {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding-inline: 0px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(203, 203, 203, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.card-container {
  padding: 32px 0;
}
.subtitle-teamcard {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.teamcard-text {
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0px 16px;
}
.links-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .link {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .link:hover,
.social-links .link:focus {
  background-color: #404bbf;
}
.icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .teamcard-list {
    column-gap: 24px;
  }
}
.titlte-portfolio {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
